*{
    margin: 0;
    padding: 0;
    font-family: Shippori-Mincho-B1;
	box-sizing: box-shadow;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	padding: 34px;
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
	font-size: 14px;
}
li a:hover{
	border: qpx solid #fff;
    background: #f44336;
    transition: 1.2s;
	background: #f44336;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
h1{
    text-align: center;
    color: white;
	margin-top: 6%;
}
.text-box{
	margin-top: 7%;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.super-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.super-button:hover{
    border: qpx solid #fff;
    background: #f44336;
    transition: 1s;
}
.text-box h1{
        font-size: 20px;
}

/* key features styling block */

.key-features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.new{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.new:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* motto styling*/
.moto{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.moto-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.moto-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
} 

/*call to action styling*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;

}


/*footer*/


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
/*----------------about us page-------------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 50px;
}

.about-us{
    width: 75%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 46%;
    padding: 40px 2px;
    display: inline-block;
}
.about-col2{
    flex-basis: 46%;
    padding: 40px 2px;
    display: inline-block;
}

.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
   
}

.about-col p{
    padding: 14px 0 25px;
	position: relative;
    
	
}
.red-button{
    display: inline-block;
    text-decoration: none;
    color: grey;
    border: 1px solid red;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.red-button:hover{
    border: 1px solid #fff;
    background: #f44336;
    transition: 1s;
    color: #fff;
}

.section-div{
    width: 100%;
    height: 720px;
    display: inline-block;
}

.div1{
    margin-top: 100px;
    margin-left: 10%;
    background-color: #fff;
    display: inline-block;
    width: 40%;
    height: 700px;
}
.div1 h2{
    margin-top: 15px;
}

.div2{
    margin-top: 100px;
    background-color: #fff;
    display: inline-block;
    width: 40%;
    height: 700px;
    float: right;
}
.div2 h2{
    margin-top: 15px;
}
.legend{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;

}


/*-------------------php page--------------------*/
.sub-header-php{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/php2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header-php h1{
    margin-top: 280px;
}

/*-------------------html page--------------------*/
.sub-header-html{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/html3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header-html h1{
    margin-top: 280px;
}
/*---------------------about us page--------------------------*/
.review{
    margin: 0 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 35px;
}
.card{
    border-radius: 35px;
    background-color: #fff;
}
.image-content,
.card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 10px 14px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    background-color: #4070f4;
    right: 0;
    bottom: -40px;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265df2;
}

.swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3 ease;
}
.swiper-navBtn:hover{
    color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;

}
.swiper-button-next{
    left: 0;
}
.swiper-pagination.bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination.bullet-active{
    background-color: #4070f4;
}



.footer_col .social img{
    width: 20px;
    margin: 5px;
	text-align: center;
	justify-content: center;
}
