body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins',sans-serif;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
nav ul li{
	float: left;
	list-style-type: none;
	display: inline-block;
	padding: 10px 10px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.container .box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;

}
.container .box:nth-child(1):hover .icon{
	box-shadow: 0 0 0 400px #e91e63;
}
.container .box .content{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.container .box:hover .content{
	color: #fff;
}
.container .box .content h2{
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	text-decoration: underline;
}
.container .box .content p{
	padding: 0;
	font-weight: bold;
	margin-top: 12px;
}
a{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
b{
	padding-left: 40px;
	font-weight: 600;
}
.footer{
	margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.footer_col .social img{
    width: 20px;
    margin: 5px;
	text-align: center;
	justify-content: center;
}

