*{
margin:0;
padding :0;
font-family: 'Poppins','sans-serif';
box-sizing :border-box;
}
.headnote{
background: #1c1c1c;
}
body{
display: flex;
justify-content: center;
align-items :center;
min-height: 100vh;
background : #23242a;
}
.box{
position: relative;
width: 380px;
height: 520px;
overflow: hidden;
background: #1c1c1c;
border-radius: 8px;
}
.box::before{
	content:'';
	position:absolute;
	width: 380px;
	height: 520px;
	top: -50%;
	left: -50%;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
}
.box::after{
	content:'';
	position:absolute;
	width: 380px;
	height: 520px;
	top: -50%;
	left: -50%;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
.borderline{
	position: absolute;
	top: 0;
	inset: 0;
}
.borderline::before{
	content:'';
	position:absolute;
	width: 380px;
	height: 520px;
	top: -50%;
	left: -50%;
	background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -1.5s;
}
.borderline::after{
	content:'';
	position:absolute;
	width: 380px;
	height: 520px;
	top: -50%;
	left: -50%;
	background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -4.5s;
}
@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
		
.box form{
position: absolute;
inset: 4px;
background: #222;
padding :50px 40px;
border-radius :8px;
z-index :2;
display: flex;
flex-direction: column;
}
.box form h2{
color: #fff;
font-weight: 500;
text-align: center;
letter-spacing: 0.1em; 
}
.box form .inputbox{
position: relative;
width: 300px;
margin-top: 35px;
}
.msg{
	letter-spacing: 0.1em;
	color: #8f8f8f; 
}
.box form .inputbox input{
position: relative;
width: 100%;
padding: 20px 10px 10px;
background: transparent;
outline: none;
border: none;
box-shadow: none;
color: #23232a;
font-size: 1em;
letter-spacing: 0.5em;
transition: 0.5em;
z-index: 10;
}
.box form .inputbox2 input[type="file"]{
	transform:scale(3);
	opacity: 0;
}	
label{
	display: inline-block;
	color: #fff;
	background: #c0392b;
	text-align: center;
	padding: 14px 10px;
	font-size: 14px;
	letter-spacing: 1.5px;
	overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    border-radius: 3px;
	width: 50%;
	height: 60%;
	letter-spacing: 0.2em;
	margin-top: 10px;
}
label:active{
transform: scale(0.9);
}	
.box form .inputbox  span{
position: absolute;
left: 0;
padding: 10px 0px 10px;
pointer-events: none;
color: #8f8f8f;
font-size: 1em;
letter-spacing: 0.5em;
transition: 0.5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
color: #fff;
font-size: 0.75em;
transform: translateY(-34px);
}
.box form .inputbox i{
position:absolute;
left: 0;
right: 0;
width: 100;
height: 2px;
background: #fff;
border-radius: 4px;
overflow: hidden;
transition: 0.5s;
pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
	height: 44px;
}
.box form input[type="submit"]{
	border: none;
	outline:none;
	padding: 13px;
	background: #fff;
	cursor: pointer;
	font-size: 0.9em;
	border-radius: 4px;
	font-weight: 600;
	width: 100%;
	margin-top: 5px;
	height: 40px;
	letter-spacing: 0.2em;
}


.box form input[type="submit"]:active{
	opacity: 0.8;
}
textarea{
	width: auto;
	resize: none;
	outline: none;
	border: none;
	border-radius: 4px;
}
span{
	color: #fff;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 10px;
}
.popup{
	width: 400px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: visible;
	transition: transform 0.5s, top 0.4s;
	
}
